@model Charity.Models.ViewModels.RegistrationViewModel
<header>
    @Html.Partial("_PartialHeadNavi")
</header>

<section class="login-page">
    <h2>Załóż konto</h2>
    <form asp-action="Registration">
        <div class="form-group">
            <input asp-for="Email" type="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
            <input asp-for="Password" type="password" name="password" placeholder="Hasło" />
        </div>
        <div class="form-group">
            <input asp-for="Password2" type="password" name="password2" placeholder="Powtórz hasło" />
        </div>

        <div class="form-group form-group--buttons">
            <a asp-controller="Account" asp-action="Login" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Załóż konto</button>
        </div>
    </form>
</section>
@Html.Partial("_PartialPageFooter")