<!DOCTYPE html>
<html lang="pl">
@Html.Partial("_PartialDonateHead")

<body>
    <header class="header--form-page">
        @Html.Partial("_PartialDonateHeader")


        <div class="slogan container container--90">
            <h2>
                Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
                informacje o odbiorze.
            </h2>
        </div>
    </header>

    @Html.Partial("_PartialPageFooter")


    <script src="js/app.js"></script>
</body>
</html>